<div class="container w-50 py-3">
  <h1 class="text-center">Resend confirmation instructions</h1>
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>
    <div class="form-inputs row g-3">
      <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
    </div>
    <div class="form-actions py-3">
      <%= f.button :submit, "Resend confirmation instructions", class: "btn btn-dark border border-light" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
